@using Microsoft.AspNetCore.Http
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
	

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="UTF-8"/>

	        
            <link rel="stylesheet" type="text/css" href="~/css/Admin/OrdersInProgress.css" /> 
	<title>UnionWindows</title>
</head>

<body>

	<div class="nav">


							<a class ="nav__link" href="/User/AboutUs">О нас</a>
							<a class ="nav__link" href="/User/AdditionalServices">Услуги</a>
							<a class ="nav__link" href="/User/Orders">Корзина</a>
							<a class ="nav__link" href="/User/Authorization">Вход</a>
        
							
	</div>

<div class = "container"> 


    <a class ="nav__link" href="/Admin/Requests">Заявки</a>
 

    <a class ="nav__link" href="/Admin/OrdersInProgress">Активные заказы</a>

    <a class ="nav__link" href="/Admin/ResourcesOnStock">Склад</a>


    <a class ="nav__link" href="/Admin/UsersDB">Заказчики</a>

    


</div>

</body>

</html>