
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    //хедер 
    //4 кнопки админки
      //2 кнопки "выполнено" и "отказаться"
</div>
</body>
</html>