@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">

	

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="UTF-8" />

	        <link rel="stylesheet" type="text/css" href="~/css/Admin/UsersDB.css" /> 

	<title>UnionWindows</title>
</head>

<body>

	<div class="my_boks">

    <div class="my_boks1">
        <form action="~/User/AboutUs">
            <button class="nav-buttons">o nas</button>
        </form>
    </div>

    <div class="my_boks2">
        <form action="~/User/Calculator">
            <button class="nav-buttons" style="border: 0px;">Calculator</button>
        </form>
    </div>

    <div class="my_boks3">
        <form action="~/User/AdditionalServices">
            <button class="nav-buttons" style="border: 0px; background-color: #4CAF50;">Uslugi</button>
        </form>
    </div>

  


    <div class="my_boks4">
        <form action="~/User/AboutUs">
            <button class="nav-buttons">Vhod</button>
        </form>
    </div>

</div>

<div class = "container"> 
     <div class="my_boks5">
        <form action="~/Admin/Requests">
            <button class="nav-buttons">Zayavki</button>
        </form>
    </div>

    <div class="my_boks6">
        <form action="~/Admin/OrdersInProgress">
            <button class="nav-buttons" style="border: 0px;">Activ zakazi</button>
        </form>
    </div>

    <div class="my_boks7">
        <form action="~/Admin/ResourcesOnStock">
            <button class="nav-buttons" style="border: 0px; background-color: #4CAF50;">Sclad</button>
        </form>
    </div>

    <div class="my_boks8">
        <form action="~/User/Orders">
            <button class="nav-buttons">Zakazchiki</button>
        </form>
    </div>

</div>

</body>

</html>