@using Microsoft.AspNetCore.Http

@{ Layout = null; }


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница со всеми заявками</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Admin/Requests.css" />
</head>
<body>
    <div class="menu">
        <div class="title"><h1><span>М</span>ЕНЮ</h1></div>
        <div class="list_menu">
            <ul>
                <li><a href="/User/AboutUs">О нас</a></li>
                <li><a href="/User/Calculator">Калькулятор</a></li>

                <li><a href="/User/Orders">Корзина</a></li>
                <li><a href="/User/Authorization">Вход</a></li>
            </ul>
        </div>
    </div>

    <div class='header1'>
        <div class='container1'>
            <div class='header-line1'>


                <div class='btn1'>
                    <a class='button1' href="/Admin/Requests">Заявки</a>
                </div>

                <div class='btn2'>
                    <a class='button2' href="/Admin/OrdersInProgress">Активные заказы</a>
                </div>

                <div class='btn3'>
                    <a class='button3' href="/Admin/ResourcesOnStock">Склад</a>
                </div>

                <div class='btn4'>
                    <a class='button4' href="/Admin/UsersDB">Заказчики</a>
                </div>

            </div>


        </div>
    </div>



</body>
</html>