
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>

    <header class="header">
					<div class="container">
						<div class="header__inner">
						<div class="header__logo">
							<img src="/logo.png" alt="">
						</div>
						
						<div class="nav">

							<form action="AboutUs" class="forms">
								<button class="nav__link">О нас</button>
							</form>

							<form action="Calculator" class="forms">
								<button class="nav__link" >Заказать окно</button>
							</form>
							
							<form action="AdditionalServices" class="forms">
								<button class="nav__link" >Дополнительные услуги</button>
							</form>
							
							<form action="Orders" class="forms">
								<button class="nav__link" >Корзина</button>
							</form>
        
							<form action="Authorization" class="forms">
								<button class="nav__link" >Вход</button>
							</form>
        
							
						</div>
						</div>
					</div>
			
				</header>
				<div class="intro"> 
					
								<button class="go">Приступить</button>
							
				</div>
        //хедер 
    //4 кнопки админки

      //кнопка "приступить"
</div>
</body>
</html>