@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="~/css/Admin/Requests.css" />
    <title>Страница со всеми заявками для админа</title>
</head>
<body>


    <div class='header2'>
        <div class='container2'>
            <div class='header-line2'>


                <div class='btn_user1'>
                    <a class='button_user1' href='#'>О нас</a>
                </div>

                <div class='btn_user2'>
                    <a class='button_user2' href='#'>Калькулятор</a>
                </div>

                <div class='btn_user3'>
                    <a class='button_user3' href='#'>Услуги</a>
                </div>

                <div class='btn_user4'>
                    <a class='button_user4' href='#'>Вход</a>
                </div>


            </div>
        </div>
    </div>

    <div class='line'>
    </div>




    <div class='header1'>
        <div class='container1'>
            <div class='header-line1'>


                <div class='btn1'>
                    <a class='button1' href='#'>Все заявки</a>
                </div>

                <div class='btn2'>
                    <a class='button2' href='#'>Активные заказы</a>
                </div>

                <div class='btn3'>
                    <a class='button3' href='#'>Склад</a>
                </div>

                <div class='btn4'>
                    <a class='button4' href='#'>Заказчики</a>
                </div>


            </div>
        </div>
    </div>



    <div class='specifications'>

        <div class='container3'>
            <div class='specifications-holder'>
                <div class='ID'>

                    <div class='ID-title'>
                        ID
                    </div>

                </div>

                <div class='ID'>

                    <div class='ID-title'>
                        Время
                    </div>

                </div>

                <div class='ID'>

                    <div class='ID-title'>
                        Номер телефона
                    </div>

                </div>

                <div class='ID'>

                    <div class='ID-title'>
                        Сумма
                    </div>

                </div>


            </div>
        </div>


    </div>





</body>

</html>