@using testMvcProject.Models.DAOs.UsersDAO
@model UsersDAO
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">

	

<head>
    
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/Admin/UsersDB.css"/>

    <title>UnionWindows</title>
</head>

<body>

	
	<div class="nav">


							<a class ="nav__link" href="/User/AboutUs">О нас</a>
							<a class ="nav__link" href="/User/AdditionalServices">Услуги</a>
							<a class ="nav__link" href="/User/Orders">Корзина</a>
							<a class ="nav__link" href="/User/Authorization">Вход</a>
        
							
						</div>
<div class = "container"> 
      <a class ="nav__link" href="/Admin/Requests">Заявки</a>
 

    <a class ="nav__link" href="/Admin/OrdersInProgress">Активные заказы</a>

    <a class ="nav__link" href="/Admin/ResourcesOnStock">Склад</a>


    <a class ="nav__link" href="/Admin/UsersDB">Заказчики</a>


</div>

<table>
    <tr>
        <th>Зарегистрированные пользователи</th>
        <th>Имя</th>
        <th>Номер телефона</th>
        <th>Адрес</th>
    </tr>

    @{
        foreach (var person in Model.getAllPersons())
        {
            <tr>
                <td>ID:@person.PersonID</td>
                <td>@person.Name</td>
                <td>@person.Telephone</td>
                <td>@person.Adress</td>
            </tr>
        }
    }
</table>



<style>
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    background: #D8E6F3;
}
th:first-child, td:first-child {
    text-align: center;
}
</style>


</body>

</html>