
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница с заказчиками</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Admin/UsersDB.css" />
</head>
<body>


    <div class="menu">
        <div class="title"><h1><span>М</span>ЕНЮ</h1></div>
        <div class="list_menu">
            <ul>
                <li><a href="/User/AboutUs">О нас</a></li>
                <li><a href="/User/Calculator">Калькулятор</a></li>
                <li><a href="/User/Orders">Корзина</a></li>
                <li><a href="/User/Authorization">Вход</a></li>
            </ul>
        </div>
    </div>

    <div class='header1'>
        <div class='container1'>
            <div class='header-line1'>


                <div class='btn1'>
                    <a class='button1' href="/Admin/Requests">Заявки</a>
                </div>

                <div class='btn2'>
                    <a class='button2' href="/Admin/OrdersInProgress">Активные заказы</a>
                </div>

                <div class='btn3'>
                    <a class='button3' href="/Admin/ResourcesOnStock">Склад</a>
                </div>

                <div class='btn4'>
                    <a class='button4' href="/Admin/UsersDB">Заказчики</a>
                </div>

            </div>


        </div>
    </div>


    <table>
        <tr>
            <th>Зарегистрированные пользователи</th>
            <th>Имя</th>
            <th>Номер телефона</th>
            <th>Адрес</th>
        </tr>

        @{
            foreach (var person in Model.getAllPersons())
            {
                <tr>
                    <td>ID:@person.PersonID</td>
                    <td>@person.Name</td>
                    <td>@person.Telephone</td>
                    <td>@person.Adress</td>
                    <td>
                        <form action="/Admin/DeleteUser" method="post">
                            <input name="id" value="@person.PersonID" type="hidden">
                            <button>delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </table>



    <style>
        table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
            font-size: 14px;
            border-collapse: collapse;
            text-align: center;
            width: 100%;
        }

        th, td:first-child {
            background: #AFCDE7;
            color: white;
            padding: 10px 20px;
        }

        th, td {
            border-style: solid;
            border-width: 0 1px 1px 0;
            border-color: white;
        }

        td {
            background: #D8E6F3;
        }

            th:first-child, td:first-child {
                text-align: center;
            }
    </style>


</body>

</html>