
body {
    margin: 0;
    height: 100%;
    line-height: 1;
    font-size: 16px;
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

div {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300&display=swap');

div {
    box-sizing: border-box;
}

.nav {
    position: relative;
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 100px;
    text-align: center;
    border-bottom: 2px solid #E79472;
}

.container {
    position: relative;
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 100px;
    text-align: center;
}

.nav__link {
    margin: 3px;
    padding: 20px 10px;
    width: calc(20% - 25px);
    display: inline-block;
}



.nav__link {
    font-family: 'Oswald', sans-serif;
    color: #E75D41;
    text-decoration: none;
    transition: .2s linear;
    margin-left: 50px;
}

:hover.nav__link {
    color: #AB7783;
}

:first-child.nav__link {
    margin-left: 0;
}
