
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300&display=swap');
* {
    box-sizing: border-box;
}

.container2 {
    margin: 0px 1px;
}

.header2 {
    background: #FFFFFF;
}

.header1 {
    background: #FFFFFF;
}

.container1 {
    margin-top: 25px;
}

.container3 {
    margin-top: 200px;
}

.body {
    margin: 0;
}

.line {
    margin-top: 50px;
    border: 5px solid #000000;
}

.header-line1 {
    padding-top: 25px; /*верхний отступ*/
    display: flex; /*все элементы в линию*/
    align-items: center; /*выровняли в линию по главному элементу*/
    justify-content: space-around;
}

.header-line2 {
    padding-top: 20px; /*верхний отступ*/
    display: flex; /*все элементы в линию*/
    align-items: center; /*выровняли в линию по главному элементу*/
    justify-content: space-around;
}


.button1 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 189, 95, 0.6) 41.48%, rgba(231, 148, 114, 0.7) 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    padding: 17px 60px;
}

.button2 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 189, 95, 0.6) 41.48%, rgba(231, 148, 114, 0.7) 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    padding: 17px 60px;
}

.button3 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 189, 95, 0.6) 41.48%, rgba(231, 148, 114, 0.7) 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    padding: 17px 60px;
}

.button4 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 189, 95, 0.6) 41.48%, rgba(231, 148, 114, 0.7) 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    padding: 17px 60px;
}

.button1:hover {
    color: #E75D41;
}

.button2:hover {
    color: #E75D41;
}

.button3:hover {
    color: #E75D41;
}

.button4:hover {
    color: #E75D41;
}

.button_user1 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.6) 41.48%, rgba(171, 119, 131, 0.7) 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    padding: 17px 60px;
}

.button_user2 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.6) 41.48%, rgba(171, 119, 131, 0.7) 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    padding: 17px 60px;
}

.button_user3 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.6) 41.48%, rgba(171, 119, 131, 0.7) 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    padding: 17px 60px;
}

.button_user4 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.6) 41.48%, rgba(171, 119, 131, 0.7) 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    padding: 17px 60px;
}

.button_user1:hover {
    color: #E75D41;
}

.button_user2:hover {
    color: #E75D41;
}

.button_user3:hover {
    color: #E75D41;
}

.button_user4:hover {
    color: #E75D41;
}


.ID-title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.ID {
    background-color: #E79472;
    border: 2px solid #000000;
    width: 184px;
    height: 41px;
}

.specifications-holder {
    display: flex;
    justify-content: flex-start;
}
