@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300&display=swap');

@media(max-width: 767px) {
    .paralax__title {
        font-size: 50px;
    }

    .paralax__label {
        font-size: 16px;
        margin: 0px 0px 15px 0px;
    }
}

@media(max-width:479px) {
    .paralax__title {
        font-size: 36px;
    }

    .paralax__label::before {
        flex: 0 0 50px;
        margin: 0px 10px 0px 0px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}

p {
    margin: 0 0 10px;
}

body {
    margin: 0;
    height: 100%;
    max-width: 100%;
    line-height: 1;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
  
}

.wrapper {
    min-height: 100%;
}

._container {
    margin: 0px auto;
    padding: 50px 20px;
    color: antiquewhite;
}

.parallax {
    min-height: 100vh;
    position: sticky;
    top: 0;
}

.paralax_body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax__container {
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
}

.parallax__label {
    color: antiquewhite;
    display: flex;
    font-size: 18px;
    letter-spacing: 6px;
    margin: 0px 0px 30px 0px;
    align-items: center;
}

    .parallax__label::before {
        flex: 0 0 70px;
        content: "";
        margin: 0px 30px 0px 0px;
        background-color: antiquewhite;
        height: 1px;
    }

.parallax__title {
    font-size: 88px;
}

.parallax__images {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -10%;
    z-index: 1;
}

.images-parallax__item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.images-parallax__clouds,
.images-parallax__mountains,
.images-parallax__human {
    position: absolute;
    width: 100%;
    height: 100%;
}

.images-parallax__clouds {
    background: url(/img/AboutUs/clouds.png) top / cover no-repeat padding-box;
    top: 0;
}

.images-parallax__mountains {
    background: url(/img/AboutUs/mountains.png) top / cover no-repeat padding-box;
    top: 15%;
    z-index: 1;
}

.images-parallax__human {
    background: url(/img/AboutUs/human.png) top / cover no-repeat padding-box;
    top: 15%;
    margin-top: 200px;
    z-index: 2;
}


@media(max-aspect-ratio: 3/2) {
    .images-parallax__human {
        background-position: 20% top;
    }
}

.cloud {
    top:0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/AboutUs/cloud.png);
    animation: anim 90s linear infinite;
    z-index: 4;
}

@keyframes anim {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 5440px;
    }
}

.content_container {
    min-height: 100%;
}

.content {
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
}

    .content::before {
        /*pointer-events: none;*/
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        box-shadow: 0px -80px 150px 50px whitesmoke;
    }

/*Container
============================================*/
.container {
    width: 100%;
    max-width: 2000px;
    margin: auto;
}

/*Header
=============================================*/

.header {
    width: 100%;
    position: relative;
    height: 149px;
    left: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #E79472;
    align-items: center;
    padding: 35px 0;
    width: 100%;
}
/*.header__logo{
     
 }*/

/*Nav
 ===================================================*/

.nav {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    color: #000000;
    text-decoration: none;
    transition: .2s linear;
    margin-left: 50px;
}

:hover.nav__link {
    color: #747474;
}

:first-child.nav__link {
    margin-left: 0;
}

.intro {
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    padding-top: 100px;
    justify-content: center;
}

.intro__inner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.intro_title {
    padding-top: 40px;
    padding-left: 20%;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 400;
    width: 80%;
    color: #747474;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 100px;
}

.intro_text {
    font-family: 'Oswald', sans-serif;
    color: #000000;
    margin-bottom: 55px;
    font-size: 40px;
}

/*Features
==============================*/

.features {
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    margin: px 0;
}

.features_item {
    width: 33.33333%;
    text-align: center;
    padding: 0 40px;
    margin: 25px 0;
}

.features_icon {
    margin-bottom: 25px;
    width: 100px;
    height: 100px;
}

.features_title {
    margin-bottom: 20px;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.features_text {
    font-size: 20px;
    color: #747474;
    line-height: 1.5;
}





h3 {
    text-transform: uppercase;
    font-size: 80px;
}

.parallax-new {
    height: 600px;
    background: url(/img/AboutUs/reg.jpg) no-repeat center fixed;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    font-size: 60px;
    align-items: center;
    position: relative;
}

.parallax h1 {
    z-index: 3;
}

.gallery{
    background-color:white;
    position:relative;
   

    
}



#slider { /*положение слайдера*/
    position: relative;
    text-align: center;
    top: 60px;

}

#slider { /*центровка слайдера*/
    margin: 0 auto;
}

#slides article { /*все изображения справа друг от доруга*/
    width: 20%;
    float: left;
}

#slides .img { /*устанавливает общий размер блока с изображениями*/
    width: 500%;
    line-height: 0;
    
}

#overflow { /*сркывает все, что находится за пределами этого блока*/
    width: 100%;
    overflow: hidden;
}

article img { /*размер изображений слайдера*/
    width: 100%;
}

#desktop:checked ~ #slider { /*размер всего слайдера*/
    max-width: 700px; /*максимальнная длина*/
   
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4) {
    background: url('/img/AboutUs/arrow.png') no-repeat;
    float: left;
    margin: 0 0 0 -84px; /*сдвиг влево*/
    display: block;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 170px;
    left: -10px;
 
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1) {
    background: url('/img/AboutUs/arrow.png') no-repeat; /*заливка фона картинкой без повторений*/
    float: right;
    margin: 0 -84px 0 0; /*сдвиг вправо*/
    display: block;
    height: 80px;
    width: 80px;
    transform: rotate(180deg);
    position: absolute;
    right: -10px;
    top: 170px;
    
}

label, a {
    cursor: pointer;
}

.gallery input {
    display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .img {
    margin-left: 0;
}

#switch2:checked ~ #slides .img {
    margin-left: -100%;
}

#switch3:checked ~ #slides .img {
    margin-left: -200%;
}

#switch4:checked ~ #slides .img {
    margin-left: -300%;
}

#switch5:checked ~ #slides .img {
    margin-left: -400%;
}

#controls { /*положение блока всех управляющих элементов*/
    margin: -25% 0 0 0;
    width: 100%;
    height: 30px;
}

#active label { /*стиль отдельного переключателя*/
    border-radius: 10px;
    display: inline-block; /*расположение в строку*/
    width: 15px;
    height: 15px;
    background: #E79472;
}

#active { /*расположение блока с переключателями*/
    margin:100px;
    text-align: center;
}

    #active label:hover { /*поведение чекбокса при наведении*/
        background: #f55c1f;
    }

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5) {
    background: #f55c1f;
    
}

#slides .img { /*анимация пролистывания изображений*/
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover { /*прозрачность стрелок при наведении*/
    opacity: 0.6;
}

#controls label { /*прозрачность стрелок при отводе курсора*/
    transition: opacity 0.2s ease-out;
}


footer {
    padding: 25px 0;
    text-align: center;
    background: black;
    color: white;
    background-attachment: fixed;
    justify-content: center;
    position: relative;
    margin:120px 0 0 0 ;
}
