@using Microsoft.AspNetCore.Http
@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
	
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap"
		rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/css/User/AboutUs.css" /> 
	
	<title>UnionWindows</title>
</head>

<body>
	<div class="wrapper">
		<section class="parallax">
	
			<div class="parallax__body">
				<div class="parallax__container _container">
					<div class="parallax__label"> UnionWindows</div>
					<h1 class="parallax__title">Красивый вид -<br>надежные окна</h1>
				</div>
	
				<div class="parallax__images images-parallax">
					<div class="images-parallax__item">
						<div class="images-parallax__clouds"></div>
	
					</div>
					<div class="images-parallax__item">
						<div class="images-parallax__mountains"></div>
					</div>
					<div class="images-parallax__item">
						<div class="images-parallax__human"></div>
						<div class = "cloud"></div>
					</div>
				</div>
			</div>
		</section>
		<section class="content">
			<div class="content__container">
				
				<header class="header">
					<div class="container">
						<div class="header__inner">
						<div class="header__logo">
							<img src="/logo.png" alt="">
						</div>
						
						<div class="nav">


							<a class ="nav__link" href="/User/AboutUs">О нас</a>
							<a class ="nav__link" href="/User/AdditionalServices">Услуги</a>
							<a class ="nav__link" href="/User/Orders">Корзина</a>
							<a class ="nav__link" href="/User/Authorization">Вход</a>
        
							
						</div>
						</div>
					</div>
			
				</header>
			
				<div class="intro">
					<div class="container">
						<div class="intro__inner">
							<h1 class="intro_title">Компания «UnionWindows» изготавливает, доставляет и устанавливает пластиковые окна из оригинального ПВХ профиля. Предлагаем заказать пластиковые окна с установкой по ГОСТ недорого. На профили ПВХ мы даем гарантию 50 лет, удобный сервис и гибкие условия оплаты. </h1>
				<!-----<a class="btn btn-red" href="#">Оформить заказ</a>---->
					<p class="intro_text">Наши преимущества:</p>
						<div class="container_features">
						<div class="features">
							<div class="features_item">
								
								<img class="features_icon" src="/img/AboutUs/feature2.svg" alt="">
								<h2 class="features_title">Гарантия качества</h2>
								<div class="features_text">Продукция, проверенная тысячами наших клиентов</div>
							</div>
							<div class="features_item">
								
								<img class="features_icon" src="/img/AboutUs/feature1.svg" alt="">
								<h2 class="features_title">Первые среди равных</h2>
								<div class="features_text">Более 30 лет в лидирующих позициях на рынке пластиковых окон</div>
							</div>
							
							<div class="features_item">
								
								<img class="features_icon" src="/img/AboutUs/feature3.svg" alt="">
								<h2 class="features_title">Лучшее производство</h2>
								<div class="features_text">Современное автоматизированное производство</div>
							</div>
							<div class="features_item">
								
								<img class="features_icon" src="/img/AboutUs/feature4.svg" alt="">
								<h2 class="features_title">Не на помойке взяли</h2>
								<div class="features_text">Высококвалифицированный персонал. «UnionWindows» — в первую очередь, люди, лишь во вторую — станки</div>
							</div>
							<div class="features_item">
								
								<img class="features_icon" src="/img/AboutUs/feature5.svg" alt="">
								<h2 class="features_title">Сертификаты</h2>
								<div class="features_text">Все необходимые сертификаты соответствия качества</div>
							</div>
							<div class="features_item">
								
								<img class="features_icon" src="/img/AboutUs/feature6.svg" alt="">
								<h2 class="features_title">Довольные клиенты</h2>
								<div class="features_text">80% наших клиентов готовы рекомендовать нашу компанию</div>
							</div>
							
						</div>
					</div>
						</div>
				</div>
				</div>
			
				</div>
			</section>

			</div>
		
		
		
			<section class="parallax-new">
				<h3>
					Галерея работ
				 </h3>
				 <div class="mask"></div>
				
			</section>
		
		
			<section class="gallery">
				
				<div class="container_gallery">

					
				
					<div class="gallery">
				
						<div class="gallery-item">
							<img class="gallery-image" src="/img/AboutUs/gallery1.jpg" alt="">
						</div>
				
						<div class="gallery-item">
							<img class="gallery-image" src="/img/AboutUs/gallery2.jpg" alt="">
						</div>
						<div class="gallery-item">
							<img class="gallery-image" src="/img/AboutUs/gallery3.jpg" alt="">
						</div>
						<div class="gallery-item">
							<img class="gallery-image" src="/img/AboutUs/gallery4.jpg" alt="">
						</div>
						<div class="gallery-item">
							<img class="gallery-image" src="/img/AboutUs/gallery5.jpg" alt="">
						</div>
						<div class="gallery-item">
							<img class="gallery-image" src="/img/AboutUs/gallery6.jpg" alt="">
						</div>
					</div>
				
				</div>
			</section>
	
<script src="script.js"></script>


</body>

</html>