@{
    Layout = null;
}

<!DOCTYPE html>

<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/User/AboutUs.css" /> 

</head>

<body>




    <div class="my_boks">

        <div class="my_boks1">
            <form action="AboutUs">
                <button class="nav-buttons" id="there" >About us</button>
            </form>
        </div>

        <div class="my_boks2">
            <form action="Calculator">
                <button class="nav-buttons">Calculator</button>
            </form>
        </div>

        <div class="my_boks3">
            <form action="AdditionalServices">
                <button class="nav-buttons">Additional services</button>
            </form>
        </div>

        <div class="my_boks4">
            <form action="Orders">
                <button class="nav-buttons">Orders</button>
            </form>
        </div>

    </div>


    <div>

        <h1 style="text-align:center">Hi! There will be information about our factory</h1>


    </div>

</body>


</html>