<!DOCTYPE html>

<html>
<head>
  <title>title</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
          <link rel="stylesheet" type="text/css" href="~/css/User/Authorization.css" /> 

</head>

<body>

<p>
    
    @{
        if (ViewBag.FalseReg != null)
        {
            <p>@ViewBag.FalseReg</p>
        }
    }

</p>
<article class="conteiner">

        <div class="block">

            <section class="block_item block-item">
                <h2 class="block-item_title">У вас уже есть аккаунт?</h2>
                <button class="block-item_btn signin-btn">Войти</button>
            </section>
            <section class="block_item block-item">
                <h2 class="block-item_title">У вас нет аккаунта?</h2>
                <button class="block-item_btn signup-btn">Зарегистрироваться</button>
            </section>

        </div>

        <div class="form-box">


            <form method="post" action="~/User/LogIn" class="form form_signin">
                <h3 class="form_title">ВХОД</h3>

                <p>
                    <input name="login" type="type" class="form_input" placeholder="Логин" required>
                </p>
                <p>
                    <input name="password" type="password" class="form_input" placeholder="Пароль" required>
                </p>
                <p>
                    <button class="form_btn" >Войти</button>
                </p>


            </form>

            <form method="post" action="~/User/Registration" class="form form_signup">
                <h3 class="form_title">РЕГИСТРАЦИЯ</h3>

                <p>
                    <input name="name" type="text" class="form_input" placeholder="Дмитрий" required>
                </p>
                
                <input name="telephone" type="tel" class="form_input" placeholder="89998887766" pattern="[0-9]{11}" required>
                
                <p>
                    <input name="cityName" type="text" class="form_input" placeholder="Москва" required>
                </p>
                
                <p>
                    <input name="streetName" type="text" class="form_input" placeholder="Вадковский переулок" required>
                </p>
                
                <p>
                    <input name="houseNumber" type="text" class="form_input" placeholder="1" required>
                </p>
                
                <p>
                     <button class="form_btn" >Зарегистрироваться</button>
                </p>


            </form>


        </div>

    </article>

    <script>
        const signInBtn = document.querySelector('.signin-btn');
const signUpBtn = document.querySelector('.signup-btn');
const formBox = document.querySelector('.form-box');

signUpBtn.addEventListener('click', function(){
    formBox.classList.add('active');
})

signInBtn.addEventListener('click', function(){
    formBox.classList.remove('active');
})


    </script>

</body>

</html>