@using testMvcProject.Models.DAOs.ProductsDAO
@model WindowsDAOClass

@{
    Layout = null;
}

<!DOCTYPE html>

<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="~/css/User/Orders.css" /> 


</head>

<body>

    <div>ORDER PAGE</div>


    <div class="my_boks">

        <div class="my_boks1">
            <form action="AboutUs">
                <button class="nav-buttons" >About us</button>
            </form>
        </div>

        <div class="my_boks2">
            <form action="Calculator">
                <button class="nav-buttons">Calculator</button>
            </form>
        </div>

        <div class="my_boks3">
            <form action="AdditionalServices">
                <button class="nav-buttons">Additional services</button>
            </form>
        </div>

        <div class="my_boks4">
            <form action="Orders">
                <button class="nav-buttons" style="border: 0px; background-color: #4CAF50;">Orders</button>
            </form>
        </div>

        <div class="my_boks4">
            <form action="Orders">
                <button class="nav-buttons">Вход</button>
            </form>
        </div>

    </div>


    <div>

        <h1 style="text-align:center">Hi! There will be information about all your orders</h1>


    </div>


    <div>


        
        @{
            foreach(var p in Model.getList())
         {
            <div>
            <h3>Размер окна: @p.getHeight() x @p.getWidth()</h3>
            <h3>Камер в окне: @p.getHowManyCameras()</h3>
            <h3>
            Нужен ли монтаж? 
                        @{
                            if (p.getNeewWindowInstallation() == true)
                            {
                                <p>нужен</p>
                            }
                            else
                            {
                                <p>не нужен</p>
                            }
                        }
            </h3>

                
            <h3>Стоимость окна, исходя из всех параметров @p.calculate()</h3>
             <hr>
            </div>
         }
        }
    </div>

</body>


</html>
