
<!DOCTYPE html>



<html >
<head>
    <title>Успешно!</title>
</head>
<body>
<div>
    <p1> Вы успешно зарегистрировались!</p1>
    <br/>
    <p4>В процессе получения нашей компанией вашего заказа,
        вы можете отслеживать его статус в личном кабинете.</p4>
    <br/>
    <p4>Вашими данными для входа в личный кабинет будет ваш номер телефона и пароль.</p4>
    <br/>
    <p4>Пароль - ваше имя (@ViewBag.Name). Пароль возможно изменить в личном кабинете.</p4>

</div>
</body>
</html>