
<!DOCTYPE html>



<html >
<head>
    <title>Успешно!</title>
</head>
<body style="text-align:center;
display: block;
    margin-left: auto;
    margin-right: auto;
padding:200px">
<div>
    <p1> Вы успешно зарегистрировались!</p1>
    <br/>
    <p4>В процессе получения нашей компанией вашего заказа,
        вы можете отслеживать его статус в личном кабинете.</p4>
    <br/>
    <p4>Вашими данными для входа в личный кабинет будет ваш номер телефона и пароль.</p4>
    <br/>
    <p4>Пароль - ваше имя (@ViewBag.Name). Пароль возможно изменить в личном кабинете.</p4>

</div>
<div class="my_boks">
        <form action="~/User/AboutUs">
            <button class="nav-buttons" style="border: 0px; background-color: #4CAF50;">Glavnaya</button>
        </form>
    </div>
</body>
</html>