<!DOCTYPE html>

<html>
<head>
    <title>Неуспешно!</title>
</head>
<body>
<div>
    <p style="text-align: center">
        Неуспешная регистрация. Пользователь с таким номером телефона уже зарегистрирован.
        Если у вас возникли какие-либо проблемы с заказом или вы не можете войти на сайт,
        свяжитесь с администратором: +7(999)999-99-99.
    </p>
    
    <div>
        <form action="Registration" class="forms" >
            <button class="nav__link">Или попробуйте зарегистрироваться снова</button>
        </form>
    </div>
</div>
</body>
</html>